version: '3.8'

services:
  vault-itp:
    image: hashicorp/vault:latest
    container_name: vault-itp
    ports:
      - "8200:8200"
    environment:
      - VAULT_DEV_ROOT_TOKEN_ID=myroot
      - VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200
    cap_add:
      - IPC_LOCK
    command: vault server -dev
    networks:
      - itp-net
    healthcheck:
      test: ["CMD", "vault", "status"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  itp-net:
    external: true
