server:
  port: 8083


spring:
  application:
    name: order
  profiles:
    active: prod
  config:
    import: optional:configserver:http://localhost:8888
  cloud:
    config:
      enabled: true
      fail-fast: false
  datasource:
    url: jdbc:postgresql://localhost:16851/itp_micro_db
    username: itpusr
    password: itp@168
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true


eureka:
  client:
    enabled: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: false
    hostname: localhost
    instance-id: ${spring.application.name}:${server.port}

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.see_visal.order: DEBUG
    org.springframework.web: DEBUG

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9000