server:
  port: 9000

spring:
  application:
    name: identity-service

  datasource:
    url: jdbc:postgresql://localhost:16851/itp_micro_db
    username: itpusr
    password: itp@168
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update # Automatically creates the 'users' table
    show-sql: true
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true